<h1 class='page-title'>Available Pets</h1>
<h2 class='page-subtitle'><%= @shelter.name %></h2>
<p><%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %></p>
<ul id="pets-index">
  <% @pets.each do |pet| %>
    <% if pet.shelter_id == @shelter.id %>
      <%= image_tag(pet.image, alt: "photo of pet", method: :get, class: 'pet-image') %>
      <h3>Name: <%= pet.name %></h3>
      <p>Approximate Age: <%= pet.approx_age %></p>
      <p>Sex: <%= pet.sex %></p>
      <p>Status: <%= pet.status %></p>
    <% else %>
    <% end %>
  <% end %>
</ul>
