<h1 class='page-title'><%= @shelter.name %></h1>
<div id="shelter-details">
    <p><%= @shelter.address %><br>
      <%= @shelter.city %><br>
      <%= @shelter.state %><br>
      <%= @shelter.zip %>
    </p>
</div>
