<h1 class='page-title'><%= @shelter.name %></h1>
<div id="shelter-details">
    <p><%= @shelter.address %><br>
      <%= @shelter.city %><br>
      <%= @shelter.state %><br>
      <%= @shelter.zip %>
    </p>
</div>

<div class='options'>
  <%= link_to 'See Pets', "/shelters/#{@shelter.id}/pets" %>
  <%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
  <%= button_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
</div>
