<h1 class='page-title'>Pet List</h1>
<ul id="pets-index">
  <% @pets.each do |pet| %>
    <%= image_tag(pet.image, alt: "photo of pet", method: :get, class: 'pet-image') %>
    <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
    <p>Approximate Age: <%= pet.approx_age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p>
    <div class='options'>
      <a><%= link_to 'Update', "/pets/#{pet.id}/edit" %></a>
      <a><%= button_to 'Delete', "/pets/#{pet.id}", method: :delete %></a>
    </div>
  <% end %>
</ul>
