<nav id="main-nav">
  <%= link_to 'Shelters', "/shelters" %>
  <%= link_to 'Pets', "/pets" %>
</nav>

<h1>Add New Pet</h1>
<%= form_tag "/shelters/#{@shelter.id}/pets" do %>
  <%= label_tag :name %><br>
  <%= text_field_tag :name %><br>
  <%= label_tag :age %><br>
  <%= text_field_tag :approx_age %><br>
  <%= label_tag :description %><br>
  <%= text_field_tag :description %><br>
  <%= label_tag :sex %><br>
  <%= text_field_tag :sex %><br>
  <%= label_tag :image %><br>
  <%= text_field_tag :image %><br>
  <%= text_field_tag :status, 'adoptable', :readonly => true %><br>
  <%= submit_tag 'Save Pet' %>
<% end %>
