<h1 class='page-title'><%= @pet.name %></h1>
<div id="pet-details">
  <img><%= image_tag(@pet.image, alt: "photo of pet", method: :get, class: 'pet-image') %></img>
  <p>Approximate Age: <%= @pet.approx_age %></p>
  <p>Sex: <%= @pet.sex %></p>
  <p>Description: <%= @pet.description %></p>
  <p>Status: <%= @pet.status %></p>
</div>

<div class='options'>
  <%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
  <%= button_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
</div>
