<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <h4>Turing Mod 2: Adopt Don't Shop</h4>
    <nav id='main-nav'>
      <%= link_to 'Shelters', "/shelters" %>
      <%= link_to 'Pets', "/pets" %>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
